@use 'utilities' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

// NAVIGATION

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: $white;
	z-index: 1000;
	&__nav {
		display: flex;
		white-space: nowrap;
		height: 80px;
		align-items: center;
		justify-content: space-between;
	}
	&__logo {
		display: inline-block;
		padding-left: 2%;
		font-size: 3rem;
		a {
			color: $black;
		}
		i {
			color: $gray;
		}
	}
	// &__mobile {
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	right: 0;
	// 	bottom: 0;
	// 	display: flex;
	// 	justify-content: center;
	// 	align-items: center;
	// 	flex-direction: column;
	// 	&-item {
	// 		list-style: none;
	// 	}
	// }
	&__desktop {
		&-list {
			display: none;

			font-size: 1.5rem;
		}
		&-item {
			display: inline-block;

			padding: 2.2em; // do zmiany
			list-style: none;
			transition: background-color 0.3s;
			cursor: pointer;
			a {
				//problem z hoverem do rozwiązania
				padding: 1.42em 0;
				color: $black;
				transition: color 0.3s;
				&:hover {
					color: $white;
				}
			}
			&:hover {
				background-color: $black;
			}
		}
	}
}

// HEADER
.header {
	position: relative;
	margin-top: 80px;
	max-height: 400px;
	background-image: url('../img/jungleSmall.jpg');
	background-position: center;
	background-size: cover;
	z-index: -10;
	&__shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: -5;
	}
	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		// margin-left: 20%;
		padding: 1em;
		height: 60vh;
		max-height: 400px;
		color: $white;
		h1 {
			font-size: 2.7rem;
		}
		p {
			font-size: 1.9rem;
		}
	}
}

//ABOUTUS

.aboutus {
	&__item {
		display: flex;
		flex-direction: column;
		&-img{
			margin: 0 auto;
			width: 80%;
			max-width: 600px;
		}
		&-text {
			display: flex;
			flex-direction: column;
			margin: 0 auto;
			max-width: 600px;
			// margin-left: 4em;
			width: 80%;
			overflow: hidden;
			h3 {
				margin-top: 1em;
				font-size: 2em;
			}
			p {
				margin-top: 1em;
				font-size: 1.5em;
				line-height: 200%;
			}
		}
	}
}






@import './utilities/media';
