@media (min-width: 576px) {
	.aboutus {
		&__item {
			&-text {
				h3 {
					font-size: 2.5em;
				}
				p {
					font-size: 1.7em;
					line-height: 200%;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.header {
		&__text {
			h1 {
				font-size: 3.2rem;
			}
			p {
				font-size: 2.4rem;
			}
		}
	}
}

// 992 px
@media (min-width: 992px) {
	.navbar {
		&__desktop {
			&-list {
				display: flex;
			}
		}
		&__mobile {
			&-list {
				// display: none;
				color: black;
			}
		}
	}

	.header {
		background-image: url('../img/jungleBig.jpg');
		&__text {
			h1 {
				font-size: 3.5rem;
			}
			p {
				font-size: 2.4rem;
			}
		}
	}
	.aboutus {
		&__item {
			flex-direction: row;
			&-img {
				width: 40%;
			}
			&-text {
				width: 55%;
				h3 {
					margin-top: 0;
				}
			}
		}
	}
}
