// @media (min-width: 375px) {

// }

@media (min-width: 576px) {
	.aboutus {
		&__item {
			&-text {
				&-title {
					font-size: 2.5em;
				}
				&-description {
					font-size: 1.7em;
					line-height: 200%;
				}
			}
		}
	}
	.offer {
		&__card {
			width: 50%;
		}
	}
	.footer {
		&__boxes {
			flex-direction: row;
			justify-content: space-between;
			align-items: normal;
		}
	}
	.offersub {
		&__items {
			flex-direction: column;
			align-items: center;
		}
		&__item {
			flex-direction: row;
			padding: 0 20px;
			width: 70%;
			&-title {
				width: 35%;
			}
			&-price {
				width: 25%;
			}
		}
	}
	.contact {
		&__map {
			display: flex;
			justify-content: center;
			align-items: center;
			iframe {
				width: 350px;
			}
		}
	}
}

@media (min-width: 768px) {
	.header {
		&__text {
			&-description {
				font-size: 3.2rem;
			}
			&-title {
				font-size: 2.4rem;
			}
		}
	}
	.aboutus {
		&__item {
			flex-direction: row;
			&-img {
				width: 40%;
			}
			&-text {
				width: 55%;
				&-title {
					margin-top: 0;
					font-size: 2em;
				}
				&-description {
					font-size: 1.5em;
				}
			}
		}
	}
	.banner {
		&__text {
			font-size: 2.5rem;
		}
	}
	.offer {
		&__cards {
			display: flex;
			flex-direction: row;
		}
		&__card {
			width: 30%;
		}
		&__bottom {
			justify-content: end;
			padding-right: 20px;
		}
	}
	.footer {
		&__box {
			&-info {
				&-desktop {
					display: block;
				}
			}
		}
	}
	.offersub {
		&__item {
			&-title {
				width: 25%;
			}
			&-price {
				width: 15%;
			}
		}
	}

	.contact {
		&__map {
			iframe {
				width: 550px;
			}
		}
	}
}

// 992 px
@media (min-width: 992px) {
	.navbarmob {
		transform: translateX(102%);
	}
	.navbar {
		&__desktop {
			&-item {
				display: inline-block;
			}
			&-hamburger {
				display: none;
			}
		}
	}
	.header {
		background-image: url('../img/jungleBig.jpg');
		&__text {
			&-description {
				font-size: 3.5rem;
			}
			&-title {
				font-size: 2.4rem;
			}
		}
	}
	.banner {
		background-image: url('../img/girlBig.jpg');
		&__text {
			font-size: 3rem;
		}
	}
	.footer {
		&__box {
			&-logo {
				width: 45%;
				flex-wrap: nowrap;
			}
		}
	}
	.offersub {
		&__item {
			&-title {
				font-size: 2em;
			}
			&-price {
				font-size: 2.5em;
			}
			&-btn {
				font-size: 1.5em;
			}
		}
		.fa-solid {
			font-size: 1.5em;
		}
	}
	.contact {
		min-height: 75vh;
		&__items {
			flex-direction: row;
		}
		&__form {
			width: 50%;
		}
		&__map {
			iframe {
				margin-top: 0;
				margin-left: 20px;
			}
			&-text {
				display: none;
			}
		}
	}
}
